* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background-color: #676465;
  color: #0D0D0D;
  font-family: 'Rajdhani', sans-serif;
  height: 305px;
  background-image: -webkit-linear-gradient(90deg, transparent, transparent 24px, #f0c9ca 24px, #f0c9ca 25px, transparent 25px, transparent 27px, #f0c9ca 27px, #f0c9ca 28px, transparent 28px), -webkit-linear-gradient(#fff, #fff 17px, #e3ebf3 17px, #e3ebf3 18px);
  background-size: 36px 18px, 36px 18px;
  background-repeat: repeat-y, repeat;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

.section-divided {
  width: 50%;
  margin: 5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 10px 10px 5px 1px #403e3f;
  -webkit-box-shadow: 10px 10px 5px 1px #403e3f;
  -moz-box-shadow: 10px 10px 5px 1px #403e3f;
  background-color: #1a1a1a;
  color: #FFFFFF; }
  .section-divided h1 {
    margin-bottom: 1rem;
    background-color: #F23545;
    text-decoration: underline; }

#recipes-main button {
  border: solid #0D0D0D 2px;
  font-family: 'Rajdhani', sans-serif;
  color: black; }

#recipes-grid {
  margin: 20px;
  width: 92vw;
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 10px; }
  #recipes-grid .card-recipe {
    border-radius: 4px;
    width: 30vw;
    background-color: white;
    font-size: 1rem;
    border: black 3px solid; }
    #recipes-grid .card-recipe .recipe-title {
      font-family: 'Architects Daughter', cursive;
      background-color: #F23545;
      border-bottom: solid black;
      text-align: center; }
    #recipes-grid .card-recipe h2 {
      font-size: 2rem;
      color: black;
      text-align: center; }
    #recipes-grid .card-recipe h3 {
      font-size: 1.5rem;
      color: #F23545;
      font-family: 'Architects Daughter', cursive; }
    #recipes-grid .card-recipe #card-body {
      font-family: 'Rajdhani', sans-serif;
      padding: 5px;
      background-color: white;
      color: black; }
      #recipes-grid .card-recipe #card-body .recipe-data {
        width: 100%; }
      #recipes-grid .card-recipe #card-body .recipe-operations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-end; }
        #recipes-grid .card-recipe #card-body .recipe-operations button {
          width: auto;
          height: auto;
          text-align: center;
          margin: 2px; }

#alertZone {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #alertZone #alert-added, #alertZone #alert-deleted {
    display: none; }
  #alertZone #btn-close-alert {
    border: none; }

.btn-delete-ingredient {
  height: fit-content; }

.list-ingr-item {
  word-wrap: break-word;
  margin-bottom: 4px;
  text-align: left; }

.pop-up {
  background-color: rgba(48, 48, 48, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }

.show {
  visibility: visible; }

.pop-modal {
  border: solid black;
  border-radius: 3px;
  background-color: #0D0D0D;
  color: white;
  text-align: center; }
  .pop-modal h3 {
    color: #F23545; }
  .pop-modal #modal-operations button {
    padding: 0; }

#btn-info {
  cursor: pointer; }

#carouselExampleIndicators button {
  border: none; }

#favorite-title {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  text-transform: uppercase; }

#pop-carousel {
  height: 30%; }

#brand {
  color: #F23545;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 2.2rem; }

nav {
  background-color: #0D0D0D;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold; }
  nav #btn-info {
    margin-left: 10px; }
    nav #btn-info:hover {
      border-bottom: 2px solid #F23545; }

footer {
  background-color: #0D0D0D;
  color: #FFFFFF;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer a {
    text-decoration: none;
    color: #F23545; }
    footer a:hover {
      color: yellow !important; }
