* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background-color: #F2F2F2;
  color: #0D0D0D;
  font-family: 'Rajdhani', sans-serif; }

.section-divided {
  width: 50%;
  margin: 5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 10px 10px 5px 1px #403e3f;
  -webkit-box-shadow: 10px 10px 5px 1px #403e3f;
  -moz-box-shadow: 10px 10px 5px 1px #403e3f;
  background-color: #1a1a1a;
  color: #FFFFFF; }
  .section-divided h1 {
    margin-bottom: 1rem;
    background-color: #F23545;
    text-decoration: underline; }

#recipes-page main {
  height: 80vh; }

#alertZone {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #alertZone .miAlerta {
    width: 30%; }
    #alertZone .miAlerta p {
      text-align: center;
      margin: 0; }

#recipes-grid {
  margin: 20px;
  width: 95vw;
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 10px; }
  #recipes-grid .card-recipe {
    padding: 20px;
    border-radius: 4px;
    width: 30vw;
    background-color: #403E3F;
    color: white;
    font-size: 1rem;
    border: black 3px solid; }
    #recipes-grid .card-recipe h1 {
      font-size: 3rem;
      color: black;
      background-color: #F23545;
      text-decoration: underline;
      text-align: center; }
    #recipes-grid .card-recipe h2 {
      font-size: 1.5rem;
      color: #F23545;
      text-decoration: underline; }

#brand {
  color: #F23545;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size: 2.2rem; }

nav {
  background-color: #0D0D0D;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  nav li .nav-link {
    padding-bottom: 0px;
    margin-bottom: 8px; }
  nav li a:hover {
    border-bottom: 2px solid #F23545 !important; }

#new-cocktail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #new-cocktail .section-divided {
    width: 30%;
    margin: 0;
    margin-bottom: 20px; }
    #new-cocktail .section-divided input {
      margin-top: 0;
      margin-bottom: 5px; }

footer {
  background-color: #0D0D0D;
  color: #FFFFFF;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }
