#new-cocktail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section-divided{
        width: 30%;
        margin: 0;
        margin-bottom: 20px;

        input{
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
}