*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: lighten($color3, 15%);
    color: $color1;
    font-family: 'Rajdhani', sans-serif;

    height:305px;
    background-image:
    -webkit-linear-gradient(90deg, transparent, transparent 24px, #f0c9ca 24px, #f0c9ca 25px, transparent 25px, transparent 27px, #f0c9ca 27px, #f0c9ca 28px, transparent 28px),
    -webkit-linear-gradient(#fff, #fff 17px, #e3ebf3 17px, #e3ebf3 18px);
    background-size: 36px 18px, 36px 18px;
    background-repeat: repeat-y, repeat;
    box-shadow:0 0 1px rgba(0, 0, 0, 0.3);

}

.section-divided{
    width: 50%;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
    
    border-radius: 3px;
    box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);
    -webkit-box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);
    -moz-box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);
    background-color:   lighten($color1, 5%);
    color: $color5;
    h1{
        margin-bottom: 1rem;
        background-color: $color2;
        text-decoration: underline ;
    }
}

#recipes-main{
    button{
        border: $borde-basic;
        font-family: 'Rajdhani', sans-serif;
        color: black;
    }
}  

#recipes-grid {
    margin: 20px;
    width: 92vw;
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 10px;
    // grid-auto-rows: 100px;

    .card-recipe{
        border-radius: 4px;
        width: 30vw;
        background-color: white;        
        font-size: 1rem;
        border: black 3px solid;

        .recipe-title{
            font-family: 'Architects Daughter', cursive;
            background-color: lighten($color2, 15%);
            border-bottom: solid black;
            text-align: center;
        }
    
        h2{
            font-size: 2rem;
            color: black;
            // text-decoration: underline;
            text-align: center;
        }
        h3{
            font-size: 1.5rem;
            color: $color2;
            // text-decoration: underline;
            font-family: 'Architects Daughter', cursive;

        }

        #card-body{
            font-family: 'Rajdhani', sans-serif;

            padding: 5px;
            background-color: white;
            color: black;

            .recipe-data{
                width: 100%;
            }

            .recipe-operations{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-end;    

                button{
                    width: auto;
                    height: auto;
                    text-align: center;
                    margin: 2px;
                }
        }
        }
    }
}

#alertZone{

    #alert-added, #alert-deleted{
        display: none;
    }

    #btn-close-alert{
        border: none ;
    }

    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-delete-ingredient{
    height: fit-content;
}

.list-ingr-item{
    word-wrap: break-word;
    margin-bottom: 4px;
    text-align: left;
}

.pop-up{
    background-color: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


.show {
    visibility: visible;
}


.pop-modal{
    border: solid 1px $color2;
    border-radius: 3px ;
    background-color: $color1;
    color: white;
    text-align: center;

    box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);
    -webkit-box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);
    -moz-box-shadow: 10px 10px 5px 1px rgba(64,62,63,1);

    h3{
        text-transform: uppercase;
        font-family: 'Architects Daughter', cursive;
        color: $color2;
    }



    #modal-operations{
        button{
            padding:0;
        }
    }
}

#btn-info{
    cursor: pointer;
}

#carouselExampleIndicators{
    button{
        border: none;
    }
}

#favorite-title{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

#pop-carousel{
    height: 30%;
}