#brand{
    color: $color2;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    font-size: 2rem;
}

nav{
    background-color: $color1;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
