#brand{
    color: $color2;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 2.2rem;
}

nav{
    background-color: $color1;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;

    #btn-info {
        margin-left: 10px;

        &:hover{
            border-bottom: 2px solid $color2;
        }
    }
}