
/*iPhone4 ----------- */
@media only screen and (max-width : 319px) {
    #recipes-grid {
        grid-template-areas: "a" !important;
        .card-recipe{
            width: 90vh !important;
        }
    }

    #brand{
        font-size: 1.5rem;
    }

    .operations{
        #btn-new-recipe, #btn-delete-all , #btn-recommended{
            padding: 6px;
        }
    }

    .pop-modal{
        width: 50vh !important;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    #recipes-main{
        #recipes-grid{
            grid-template-areas: "a" !important;
        }
    
        .card-recipe{
            width: 90vh !important;
        }
    }

    #brand{
        font-size: 1.5rem;
    }

    .operations{
        #btn-new-recipe, #btn-delete-all , #btn-recommended{
            padding: 6px;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    #recipes-grid {
        grid-template-areas: "a" !important;

        .card-recipe{
            width: 90vw !important;
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #recipes-grid {
        grid-template-areas: "a" !important;

        .card-recipe{
            width: 85vw !important;
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}